@font-face{
    font-family: Abde;
    src: url([Barlow](https: //fonts.google.com/specimen/Barlow));
    font-weight:600;
}

@font-face {
    font-family: Deb;
    src: url((https: //fonts.google.com/specimen/Fraunces));
    font-weight: 700, 900;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: white;
   margin: 0;
   font-family: Abde; 
}

.oga{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.logo{
    font-size: 2rem;
    padding: 20px;
}

.logo a{
    color: white;
    text-decoration: none;
}

.navbar ul{
  padding: 0%;
  list-style: none;  
}

.navbar li{
    display: inline;
    margin: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px
}

.menu-bar{
display: none ;
}

.bars{
    width: 20px;
    height: 3px;
    margin-bottom: 4px;
    background-color: white;
}


.head-text1 h2{
color: white;
font-size: 1.5rem;
padding-left: 30px;
}

.main-head{
background-image: url(./images/desktop/image-header.jpg);
position: relative;
background-position: center;
background-size: cover;
width: 100%;
height: 90vh;
}


.head-text1{        
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 30px;
}


#grader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 50px;
}


.grader-title{
    color: white;
    font-size: 50px;
}


#middle-1{
margin: 0;
padding: 0;
box-sizing: border-box;
display: flex;
width: 1500px;

}

#paver{
border: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
height: 600px;
width: 100%;
}

#middle-1 img{
    width: 100%;
    height: 600px;
}

.container-1 {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
    padding: 50px;
    gap: 20px;
    font-size: 1.5rem;

}

.paver-text{
    color: rgba(0, 0, 0, 0.5);
}

.container-1 .anchor1{
font-size: 1.5rem;
padding-top: 20px;
}

.container-1 a{
color: black;
text-decoration: underline;
text-decoration-color: rgba(210, 210, 54, 0.97);
text-align: start;
}



#middle-2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 1500px;

}

#boogie {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    width: 100%;
}

#middle-2 img {
    width: 100%;
    height: 600px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
    padding: 50px;
    gap: 20px;
    font-size: 1.5rem;

}

.boogie-text{
color: rgba(0, 0, 0, 0.5);
}

.container-2 .anchor2 {
    font-size: 1.5rem;
    padding-top: 20px;
}

.container-2 a {
    color: black;
    text-decoration: underline;
    text-decoration-color: rgba(210, 210, 54, 0.97);
}




.container-3 {
display: flex;
}

.c3-1{
width: 100%;
height: 600px;
}

.c3-1 img{
width: 750px;
height: 600px;
}


.c3-b0x1{
color: hsl(167, 40%, 24%);
padding: 80px;
gap: 20px;
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
height: 120vh;
font-size: 1.5rem;
}


c3-2{
width: 100%;
height: 600px;
}

.c3-2 img{
width: 725px;
height: 600px;
}


.c3-box2{
color: hsl(198, 62%, 26%);
padding: 80px;
gap: 20px;
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
height: 120vh;
font-size: 1.5rem;
}






#testimony{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.people{
    display: flex;
    justify-content: center;
    align-items: center;
}

.emily-container{
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 50px;
}

.emily-text, .article-head, .market{
    opacity: 0.6;
}

.emily-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.thomas-container{
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 50px;
}

.thomas-text,.market {
    opacity: 0.6;
}

.thomas-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.jennie-container{
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 50px;
}

.jennie-text,.market {
    opacity: 0.6;
}

.jennie-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.image-section{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.image{
    height: 100%;
}

.image-section img{
  height: 100%;
  width: 370px;
   
}

#foot {
    background-color: hsl(168, 34%, 41%);
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    padding: 50px;
        display: flex;
        flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
}


/* .foot{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

} */

.foot-head{
    font-size: 2.5rem;
}

.foot-nav ul{
    display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 150px;
        cursor: pointer;
}

.foot-nav li{
    list-style: none;
}

.foot-nav a{
    text-decoration: none;
}

.foot-nav li:hover{
    color:white;
}

.foot-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.foot-image img:hover {
 background-color: white;
}


@media (max-width:375px) {
.navbar ul {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    #middle-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .middle-2{
                display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 100%;
    }
}






